/* fonts roboto, poppins and crete round */
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500&family=Poppins&family=Roboto:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.material-icons {
  color: #fff;
}

/*Header styling*/

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "roboto", serif;
  background-color: #3c3a39;
  color: #fff;
  padding: 10px 0px;
  position: sticky;
  width: 100vw;
}

.header {
  display:flex;
  justify-content:space-between;
  list-style: none;
  align-items: center;
  width:40%;
}

.header li a {
  margin: 0px 32px;
  text-decoration: none;
  color: #fff;
}


#name { 
  font-family: "roboto", serif;
  color: #fff;
  font-size: 16px;
  margin-left: 24px;
  text-decoration: none;
}

.desktop {
  display: none;
}


/* self presentation styling */
.presentation {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1c1a19;
  background-image: url(https://raw.githubusercontent.com/andgarzonmal/Portfolio/main/images/illustration-header-mobile.png);
  background-repeat: no-repeat;
  background-position: 100% 120%;
  padding: 0 24px;
}

#greatings {
  font-family: "crete round", serif;
  color: #ff6b00;
  font-size: 55.5px;
}

#hero {
  font-family: "roboto", serif;
  color: #fff5e1;
  font-size: 24px;
}

#invitation {
  font-family: "poppins", serif;
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}

/* Media Icons Styling */
#media-icons {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 21.9px 5px;
}

.fa {
  width: 20px;
}


/* My recent works heading Styling */


.work-header {
  margin-top: 120px;
  margin-bottom: 80px;
}

#cards-heading {
  padding: 120px 24px 80px 24px;
}

.My-Works-Titles {
  font-size: 40px;
  font-family: "crete round", serif;
  padding: 0px 24px 24px 24px;
  font-weight: 400;
}

 .work-header hr {
  border: none;
  height: 0.5px;
  background: #212121;
  margin: 0 24px 0px 24px;
} 

/* cards secction styling */
.grid-cards-container {
  display: grid;
  grid-template-rows: 1.5fr repeat(6, 1fr);
  gap: 20px;
}

#post-Stories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px;
}

.categories {
  display: flex;
}

#Stories-image {
  margin-bottom: 24px;
}

.Stories-title {
  font-family: "crete round", serif;
  font-size: 32px;
  font-weight: 400;
}

#post-Stories p {
  font-family: "inter", serif;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 0;
}

.Categorie-button {
  text-decoration: none;
  font-family: "inter", serif;
  font-size: 15px;
  color: #091e42;
}

.list {
  list-style: none;
  border: #8993a4 1px solid;
  padding: 8px 12px;
  margin-right: 12px;
}

.button-Stories {
  margin: 12px 0;
  padding: 12px;
  background-color: #ff6b00;
  border-style: none;
  font-family: "inter", serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}

.cards {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

.card-photo-container {
  background-image: url(https://github.com/andgarzonmal/Portfolio/blob/main/images/cardbg.png?raw=true);
  background-repeat: no-repeat;
}

.card-title {
  font-family: "Crete Round", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  margin: 84px 16px 12px 16px;
}

.card-description {
  margin: 0 16px 12px 16px;
  color: #fff;
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

.card-list {
  display: flex;
  margin-left: 16px;
  padding-bottom: 24px;
}

.list-item {
  list-style: none;
  border: none;
  padding: 8px 12px;
  margin-right: 12px;
  background-color: rgba(255, 255, 255, 0.24);
}

.list-button {
  font-family: "Inter", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  text-decoration: none;
}

.cards .button-Stories {
  margin: 0;
}

#card7 {
  margin-bottom: 120px;
}

.button-Stories:hover {
  background-color: #ee9a5e;
}


/* About section styling */
.about {
  background-color: #1c1a19;
}

.about-container {
  background-image: url(https://github.com/andgarzonmal/Portfolio/blob/main/images/aboutbg.png?raw=true);
  background-repeat: no-repeat;
  background-position: 100% 98%;
  padding-bottom: 220px;
}
.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 24px;
}

.myself {
  font-family: "Crete Round", serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  padding-top: 120px;
}

.button-card {
  align-self: baseline;
  margin: 12px 0;
  padding: 12px;
  background-color: #ff6b00;
  border-style: none;
  font-family: "inter", serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}

.button-card:hover {
  background-color: #ee9a5e;
}

.software-developer {
  font-family: "Inter", serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
  padding-bottom: 24px;
}

.flex-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  padding-top: 136px;
  padding-bottom: 60px;
}

hr.inline {
  border: none;
  background-color: #fff;
  height: 1px;
  margin: 0 24px;
}

.language {
  background-image: url(https://github.com/andgarzonmal/Portfolio/blob/main/images/Rectangle.png?raw=true);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 35px;
  font-family: "inter", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.capabilities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44.73px;
  font-family: "Inter", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  letter-spacing: 0;
  text-align: center;
  color: #fff;
}

.capabilities ul {
  list-style: none;
  padding-bottom: 44px;
}

.cap-list {
  padding-bottom: 10px;
}

.frameworks {
  background-image: url(https://github.com/andgarzonmal/Portfolio/blob/main/images/Rectangle56.png?raw=true);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 35px;
  font-family: "inter", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

.skills {
  background-image: url(https://github.com/andgarzonmal/Portfolio/blob/main/images/circle.png?raw=true);
  background-repeat: no-repeat;
  background-position: 0 50%;
  padding-left: 35px;
  font-family: "inter", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  color: #fff;
}

/*##################
####################
####################*/

@media screen and (min-width:768px) {
  
  /* NAV MEDIA QUERIE*/
  .desktop {
    display: contents;
    font-family: "Inter",serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  .phone {
    display:none;
  }
  
  .header li {
    margin: 0px 32px;
    text-decoration: none;
    color: #fff;
  }

  #name {
    font-family: "Inter", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    padding-left: 13%;
  }

  /* PRESENTATION MEDIA QUERIE*/

  .presentation {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-image: url(https://github.com/andgarzonmal/Portfolio/blob/desktop/images/head-desktop-bg.png?raw=true);
    background-repeat: no-repeat;
    background-position: 500px 40%;
  }
  
  .social-media {
    order:-1;
  }
  
  #media-icons {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 70px 15px 70px 0px;
    flex:1;
  }

  #media-icons li {
    padding: 10px;
    width:18px
  }

  .hello {
    max-width: 50%;
    margin-left: 60px;
  }

  #greatings {
    font-family: "Crete Round", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
  }

  #hero {
    font-family: "Inter", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }

  #invitation {
    font-family: "Inter", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  /*RESENTS WORKS SECCTION HEADER*/

  .works {
    margin-left: 90px;
    margin-right: 90px;
  }
  .My-Works-Titles {
    padding: 0px 24px 0px 24px;
  }
  .work-header {
    display:flex;
    flex-direction: row;
    align-items: center;
  }
  
  .hr {
    flex:1;
    margin: 0;
    padding: 0;
  }

  /*RESENTS WORKS SECCTION BODY*/
  
  /* .grid-cards-container{
    grid-template-columns: 1.5fr repeat(auto-fit, 1fr);
  } */

  /*ABOUT SECTION*/

  .about-me {
    align-items: flex-start;
    max-width: 50%;
  }
  
  .about {
    padding-left:68px ;
  }

  .about-container{
    background-image: url(https://github.com/andgarzonmal/Portfolio/blob/desktop/images/about-desk-bg.png?raw=true);
    background-position: 500px 40%;
  }
}

@media screen and (min-width:1025px) {
  .presentation {
    background-position: 100% 100%;
  }

  .hello {
    max-width: 40%;
  }

  #greatings {
    font-family: "Crete Round", serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 82px;
    letter-spacing: 0em;
    text-align: left;
  }

  #hero {
    font-family: "Inter", serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: left;
  }

  #invitation {
    font-family: "Inter", serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
  }

  /*ABOUT SECOND MEDIA QUERIE*/
  .about-me {
    max-width: 40%;
  }
  
  .about-container {
    background-position: 100% 50%;
  }

}

/*##################
####################
####################*/
/* form styling */

.form-container {
  display: flex;
  flex-direction: column;
}

.form-header {
  display: flex;
  justify-content: center;
  padding: 120px 24px 73px 24px;
  font-family: "Inter", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0;
  text-align: center;
  color: #172b4d;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 24px 124px 24px;
}

.ul-form {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
}

.form-input {
  border: 1px #dbd8d7 solid;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 39px;
  padding: 14px;
  outline: none;
  width: 100%;
}

.form-input::placeholder {
  font-family: "Inter", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

#text {
  border-top: 12px #fbf8f7 solid;
  border-left: 12px #fbf8f7 solid;
  border-right: 12px #fbf8f7 solid;
  border-bottom: 3px #fbf8f7 solid;
  outline: none;
  background-color: #fbf8f7;
  height: 114px;
  width: 100%;
}

#text::placeholder {
  font-family: "Inter", serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #3c3a39;
}

.submit {
  padding: 12px;
  background-color: #ff6b00;
  border-style: none;
  font-family: "inter", serif;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  margin: auto;
  margin-top: 36px;
  align-self: center;
}

.submit:hover {
  cursor: pointer;
  background: #fff5e1;
  color: #ff6b00;
  border: 1px solid #ff6b00;
}

.upper-line-break {
  background: #dfe1e6;
}

.form-li {
  display: flex;
  width: 100%;
}

.footer-container {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 23px;
  width: 100%;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list-footer {
  margin-right: 20px;
}

.line-break {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 40%;
  background: #0d151e;
  height: 5px;
  border-radius: 10px;
  margin-bottom: 8px;
}

.m {
  margin-right: 0;
}
